:root {
  --color-gray: #6b6b6b;
  --color-gray-light: #d6d6d6;
  --color-gray-dark: #3a3a3a;
  --color-planned: blue;
  --color-ongoing: #ffcc66;
  --color-done: #66cc66;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

